.button {
    display: inline-block;
    margin: 10px;
    padding: 0;
    border: none;
    background-image: url('background.png');
    background-size: 30px;
    cursor: pointer;
}
.play-field {
    width: 500px;
    height: 250px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.button img {
width: 100px;
height: 100px;
object-fit: cover;
border-radius: 50%;
}

.button:hover {
box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.hidden {
    visibility: hidden;
    background-size: cover;
}


.button.flipped img {
visibility: visible;
background-color: black;
}

.button.flipped {
background-color: #ddd;
pointer-events: none;
}
.bg {
    background-image: url(pokemon-bg.jpg);
}