
.border1{
    background-color: antiquewhite;
    text-align: center;
    width: 300px;
    border: 15px solid rgb(0, 0, 0);
    padding: 50px;
    margin: auto;
}
.border2{
    background-color: antiquewhite;
    text-align: center;
    width: 300px;
    border: 15px solid rgb(29, 100, 118);
    padding: 50px;
    margin: auto;
}
body{
    background-color: gray;
}
